body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loginDiv {
  margin-top: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginDiv .signupLink {
  text-align: center;
}

.signupDiv {
  margin-top: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signupDiv .loginLink {
  text-align: center;
}

.notesListDivParent {
  margin-top: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notesListDiv {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  align-items: end;
  justify-content: center;
}

.notesListDiv table, 
.notesListDiv th,
.notesListDiv td {
  border: 1px solid black;
}

.notesListDiv td {
  text-align: left;
  padding: 5px;
}

.notesListDiv div>button {
  margin: 0 0.1rem;
}

.newNoteDiv {
  margin-top: 8%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newNoteDiv input[text] {
  width: 100%;
}

.newNoteDiv form {
  width: 30%;
}

.newNoteDiv table {
  width: 100%;
}

.newNoteDiv table input, 
.newNoteDiv table textarea {
  width: 100%;
}

.newNoteDiv table .formBtns input {
  margin: 0 0.1rem;
  width: auto;
}